<launch>

    <node name="stage" pkg="stage_ros" type="stageros" required="true" ns="robot"
        args="$(find the_maze_runner)/mazes/easy_maze.world" />

    <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" required="false"
        args="scan:=robot/base_scan
              _odom_frame:=odom
              _base_frame:=map
              _delta:=0.025
              _linearUpdate:=0.2
              _angularUpdate:=0.25
              _maxUrange:=4.9
              _maxRange:=5.0" />

    <node name="maze_runner" pkg="the_maze_runner" type="maze_runner"/>

</launch>
