<launch>

    <node name="rviz" pkg="rviz" type="rviz" required="false" />

    <node name="stage" pkg="stage_ros" type="stageros" required="true" ns="robot"
        args="$(find the_maze_runner)/mazes/easy_maze.world" />

    <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" required="false"
        args="scan:=robot/base_scan
              _odom_frame:=odom
              _base_frame:=map
              _map_update_interval:=3.0
              _maxUrange:=5.0
              _maxRange:=5.0
              _particles=100.0
              _minimumScore=50
              _stt=0.9
              _angularUpdate=0.05
              _linearUpdate=0.1" />

    <node name="move_base" pkg="move_base" type="move_base" required="false" >
        <rosparam file="$(find the_maze_runner)/launch/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find the_maze_runner)/launch/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find the_maze_runner)/launch/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find the_maze_runner)/launch/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find the_maze_runner)/launch/base_local_planner_params.yaml" command="load" />
    </node>

    <node name="maze_runner" pkg="the_maze_runner" type="maze_runner"/>

</launch>
